/* For Tooltip */

.tooltip {
  position: absolute;
  display:none;
  padding: 7px;
  font-size: 12px;
  font-family: 'Open Sans' sans-serif;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* opacity: 0; */

  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
.tooltip-show {
  display: block;
  transition:all 0.5s ease-in;
  
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}



/* For Bar Chart */
rect.wins {
  fill: green;
}
rect.draws {
  fill: yellow;
}
rect.losses {
  fill: red;
}
rect:hover{
  opacity: 1;
  transition: 0.5s all ease-in;
  /* fill: brown; */
  stroke: gold;
  stroke-width: 5px;
}

.y-label-left {
  fill:blue;
}

.y-label-right-wins {
  fill: green;
}
.y-label-right-draws {
  fill: yellow;
}
.y-label-right-losses {
  fill: red;
}
